/* all pages */

.page-container {
  height: 100%;
}

/* home page */

.call-to-action { 
  width: 100%;
  float: right;
  text-align: center;
}

.newsfeed {
  width: 100%
  float: right;
  text-align: center;
}

/* forms */
.form-container {
  margin-left: 40%;
}

/* Profile CSS */

.user-name {
  text-align: center;
}

.user-urls {
  text-align: center;
}

.table-striped {
  padding: 5px;
  margin-left: 45%;
}

.messages {
  text-align: center;
  font-size: 18px;
}
