#container{
  font-family: 'Ubuntu', sans-serif;;
}

#home{

}

#header{
  width: 100%;
  background-color: #fd6e6e;
  color: #e5e5e5;
  height: 65px;
  position:fixed;
  /*box-shadow: 1px 1px 7px #888888;*/
}

.nav_buttons{
  border: 1px solid #f4f4f4;
  width: 5.5em;
  height: 1.6em;
  border-radius: 5px;
  display: block-inline;
  float: right;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
  margin: 13px 10px 0px 0px;
  padding-top: 7px;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

.nav_buttons:hover{
  background-color: #5b5e71;
}
#home_button{

}

#login_button{

}

#signup{

}

#profile{

}

#logout{

}
/* index.erb section */

#top_section{

}

.section1{
  width: 100%;
  height: 700px;
  padding-top: 65px;
  background-image: url('/../img/bg.png');
}

#signup-box{
  display: none;
  background-color: rgba(63,66,81,0.9);
  height: 230px;
  width: 240px;
  margin-top: 80px;
  margin-right: 160px;
  float: right;
  border-radius: 4px;
}

#login-box{
  display: none;
  background-color: rgba(63,66,81,0.9);
  height: 170px;
  width: 240px;
  margin-top: 80px;
  margin-right: 50px;
  float: right;
  border-radius: 4px;
}

#login{
  display: block inline;
  text-align: center;
  padding-top: 6px;
}

#login input{
  width: 170px;
  height: 35px;
  margin: 7px;
  border-radius: 4px;
  padding-left: 10px;

}

.header_text{
  color: white;
  font-size: 55px;
  font-weight: 300;
}

.logo{
  background: url('/../img/logo.png') no-repeat;
  background-size: 90% 100%;
  padding: 37px 0px 0px 0px;
  margin: 30px 0px 0px -42px;
  width: 399px;
  height: 100px;
}

.title_text{
  width: 100%;
  margin: 50px 0px 50px 0px;
  text-align: center;
  color: #fff;
}

/*search bar */

#search_bar{
  text-align: center;
  height: 67px;
}

.url_form{
  height: 67px;

}

#url_input{
  height: 65px;
  width: 280px;
  border-radius: 4px 0px 0px 4px;
  border-style: none;
  background-color: #e5e5e5;
  font-size: 15px;
  padding-left: 20px;
}

#url_input:focus{
  background-color: #fff;
  border-color: #e5e5e5;
  outline:none;
}

button{
  height: 67px;
  width: 103px;
  background-color: #fd6e6e;
  border-style: none;
  color: #fff;
  border-radius: 0px 4px 4px 0px;
  /*text-shadow: 0 -40 0 :fff;*/
  margin-left: -4px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  cursor:pointer;
}

button:hover{
  background-color: #e66060;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
}

button:active{
  background-color: #fd6e6e;
}

#form_button{
  height: 45px;
  width: 120px;
  border-radius: 4px;
}

#results{
  color: white;
  text-align: center;
  padding-top: 75px;
}

.section2{
  background-color: #F2F2F2;
  width: 100%;
  height: 750px;
}

.profile{
  padding: 70px;
}

#profile_name{
  color: #000;
  font-size: 55px;
  font-weight: 300;
  padding-bottom: 50px;
}

#table_profile{
  float: right;
  margin-right: 120px;
  margin-top: 40px;
  text-align:center;
}

#table_profile tr td{
  margin-left: 20px;
}
#table_profile thead tr td{
  font-size: 25px;
  padding: 30px;
}

#user_profile {
  float:left;
  margin-left: 150px;
}

#profile {
  display: block inline;
  padding: 10px;
  width: 400px;
}

#profile input {
  margin-bottom: 20px;
  height: 65px;
  width: 280px;
  border-radius: 4px 0px 0px 4px;
  border-style: none;
  background-color: #e5e5e5;
  font-size: 15px;
  padding-left: 20px;
}

#user_info {
  color: #000;
  font-size: 35px;
  font-weight: 300;
  padding-bottom: 30px;
  padding-left: 20px;
}

