<form class="url_form">
  <input id="url_input" type="text" placeholder="c'mon, you know you want to" name="url[original_url]">
  <input type="submit" class="btn btn-large btn-success" value="Shorten Me!">
</form>
<div class="url_container">
</div>
