<div class="call-to-action">
  <h1>Be Cool and Shorten a URL!</h1>
  <%= erb :_shortener %>
</div>

<div class="news-feed">
  <h3>People are shortening ALL of the URLS!</h3>
  <ul class="newsfeed">
  </ul>
</div>