<div class="container">
  <h1>Welcome to Ead.On!</h1>
  <p>Enter your url</p>

<form>
  <input id="url_input" type="text" name="url[original_url]">
  <input type="submit" value="shorten this ditty">
</form>

<div class = "url_container">
</div>
