<section id="top_section">
  <div class="section1">
    <div class="header_text">
      <div class="logo">
      </div>
      <div class="title_text">
        URLs shorter than Tyrion</br>
        Lannister. For real, bro.
      </div>
    </div>
    <div id="search_bar">
      <form class="url_form">
        <input id="url_input" type="text" name="url[original_url]" placeholder="http://uh-huh">
        <button type="submit">ditty it</button>
      </form>
    </div>
    <div id="results">
    </div>
  </div>
</div>   <!-- closing home div -->
</section>

<% if logged_in? %>
  <section id="response">
    <div class="section2">
      <%= erb(:_profile, :layout => false) %>
      <%= erb(:_user_profile, :layout => false) %>
    </div>
  </section>
<% end %>
<article>
</article>
