<section id="top_section">
  <div class="section1">
    <div class="header_text">
      <div class="logo">
        Ead.On
      </div>
      <div class="title_text">
        URLs shorter than Tyrion</br>
        Lannister. For real, bro.
      </div>
    </div>
    <div id="search_bar">
      <form class="url_form">
        <input id="url_input" type="text" name="url[original_url]" placeholder="http://uh-huh">
        <!-- <input id="search_button" type="submit"> -->
        <button type="submit">ditty it</button>
      </form>
    </div>
  </div>
</div>   <!-- closing home div -->
</section>

<section id="response">
  <div class="section2">
  </div>
</section>

<article>
</article>
