<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Patrick+Hand+SC' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="/js/application.js"></script>


  <title></title>
</head>
<body>
  <div id="container">
    <div id="home">
      <nav id="header">
      <a id="home_button" href='/'><div class="nav_buttons">Home</div></a>
      <% unless logged_in? %>
        <a id="login_button" href='/login'><div class="nav_buttons">Login</div></a>
      <% end %>
      <% unless request.path_info == '/users/new' || logged_in? %>
        <a id="signup" href='/users/new'><div class="nav_buttons">Signup</div></a>
      <% end %>
      <% if logged_in? %>
        <a id="profile" href='/users/<%=@current_user.id%>'><div class="nav_buttons">Profile</div></a>
        <a id="logout" href='/logout'><div class="nav_buttons">Logout</div></a>
      <% end %>
    </div>
      <%= yield %>

  </div>
</body>
</html>
