<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/bootstrap.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  <script src="/js/application.js"></script>


  <title></title>
</head>
<body>
  <div class="navbar navbar-static-top">
  <div class="navbar-inner">
    <a class="brand" href='/'>Ead.On</a>
    <ul class="nav">
      <% if authenticated? %>
      <li><a class="user-profile-page" href="/users/<%= current_user.id %>">My Profile</a></li>
      <li><a class="logout" href="/logout">Log Out</a></li> 
      <% else %>
      <li><a class="login-link" href="/login">Log In</a></li>
      <li><a class="signup-link" href="/users/new">Sign Up</a></li>
      <% end %>
    </ul>
  </div>
</div>
  <div class="page-container">
    <div class="messages"><% if @message %><%= @message %><% end %></div>
    <%= yield %>
  </div>
</body>
</html>
