<form action="/logout" method="post">
  <input type="submit" value="retire this ditty">
</form>


WE KNOW WHO YOU ARE!!!!!! USER NUMBER: <%= session[:user_id] %> I SHALL DEVOUR THE UNBORN!!
<img src="http://whatsfordinnerma.files.wordpress.com/2012/01/chick.jpg">
